<!doctype html>
<html lang="en">
<%- include('../partials/head', {title: "EzDoubt - " + info.name}) %>

<body>
    <%- include('../partials/nav', {user: locals.user, karma}) %>
    <%- include('../partials/jumbotron', {name: info.name}) %>
    <span id="auth"><%= isAuth %></span>

    <div class="grid-container">
        <div class="sidebar">
            <%- include('../partials/sidebar_subject_actions', {name: info.name, state: state}) %>
            <%- include('../partials/sidebar_subject_info', {desc: info.description}) %>
        </div>

        <div class="main">
            <%- include('../partials/sort') %>

            <% if (posts != undefined) {
                    posts.forEach((post) => { %>
            <article class="post" data-ref="<%= post._id %>">
                <div class="arrows">
                    <div class="upvote-post auth-req"><i class="far fa-caret-square-up"></i></div>
                    <span class="post-votes" data-ref="<%= post._id %>"><%= post.votes %></span>
                    <div class="downvote-post auth-req"><i class="far fa-caret-square-down"></i></div>
                </div>

                <% if(post.type == "img") { %>
                <a href="<%= post.link %>"><img src="<%=post.link%>" height="55" width="55" class="thumbnail"></a>
                <% } else if (post.type == "link") { %>
                <a href="<%= post.link %>"><img src="/images/link.png" height="55" width="55" class="thumbnail"></a>
                <% } else { %>
                <a href="/r/<%= post.subject %>/<%= post._id %>"><img src="/images/post.png" height="55" width="55"
                        class="thumbnail"></a>
                <% } %>

                <div class="info">
                    <header>
                        <% if(post.type == "post") { %>
                        <a href="/r/<%= post.subject %>/<%= post._id %>"><%= post.title %></a>
                        <%  } else { %>
                        <a href="<%= post.link %>"><%= post.title %></a>
                        <% } %>

                    </header>
                    <div>
                        submitted <time title="<%= post.time %>">-</time>
                        by <span class="post-user"><a href="/u/<%= post.username %>"><%= post.username %></a></span>
                        from <span><a href="/r/<%= post.subject %>"><%= post.subject %></a></span>
                    </div>
                    <ul class="post-options">
                        <li><a href="/r/<%=post.subject %>/<%= post._id %>"><%=post.num_of_comments%> comments</a></li>
                        <li><a href="javascript:void(0)" class="save-post auth-req">Save</a></li>
                        
                        <% if(post.username == locals.user) { %>
                        <li><a href="javascript:void(0)" class="delete-post auth-req">Delete</a></li>
                        <% } %>
                        <li><a href="javascript:void(0)" class="record-post auth-req">Record</a></li>
                    </ul>
                </div>
            </article>
            <% });%>
            <% } else { %>
            There are no posts.
            <% } %>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/recorderjs/0.1.0/recorder.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/autosize@4.0.2/dist/autosize.min.js"></script>
    <script src="/js/load.js"></script>


    <script src="/js/index.js"></script>
    <script src="/js/post.js"></script>
    <script src="/js/sort.js"></script>

    <script>
        var AudioContext, input, rec, stream;
        var postParent;

        navigator.mediaDevices.getUserMedia({ audio: true, video: true })
        .then(function(stream) {
            AudioContext = window.AudioContext || window.webkitAudioContext;
            input = new AudioContext().createMediaStreamSource(stream);
            rec = new Recorder(input,{numChannels:1})
        });

        var subject = "<%= info.name %>";

        $("document").ready(function () {

            $.get("https://pixabay.com/api/", {
                    key: "13142865-8f8270cd4f96b2ce3f3ea82dd",
                    q: subject
                })
                .done(function (data) {

                    if (data.hits.length >= 5) {
                        var imageURL = data.hits[4].largeImageURL;
                        console.log("Image URL :", imageURL);
                        $('.jumbotron').css('background-image', 'url(' + imageURL + ')');
                    }
                });

                $('.record-post').click(function(){
                    if($(this).text()==="Play Answer"){
                        $(this).parent().parent().children('audio').attr("controls", "true");
                        $(this).parent().parent().children('audio')[0].play();
                    }
                    else if($(this).text() === 'Record'){
                        rec.record();
                        $(this).hide();
                        $(this).css("color", "#ff5533");
                        $(this).text('Stop').fadeIn();
                    }
                    else if($(this).text() === 'Stop'){
                        rec.stop();
                        postParent = this.parentNode.parentNode;
                        rec.exportWAV(createDownloadLink);
                        $(this).hide();
                        $(this).css("color", "#0077ff");
                        $(this).text('Play Answer').fadeIn();
                    }
                })
        });

        function createDownloadLink(blob) {

            var url = URL.createObjectURL(blob);
            var au = document.createElement('audio');
            //add controls to the <audio> element 
            au.controls = false;
            au.src = url;
            //add the new audio and a elements to the li element 
            postParent.appendChild(au);
            //add the li element to the ordered list
        }

        </script>

</body>

</html>
